@*3. Bind our view to a model *@
@model IList<ViewsPart2.Web.Models.TrelloList>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Trello - Home Page";
}


<!-- THIS IS DONE BY THE CONTENT PAGE -->
<!-- Original HTML From HTML & CSS Day -->
<h1>My Task List</h1>
<main id="trello-board">

    @foreach (var list in Model)
    {
        <div class="trello-list">


                                 @* Action   Controller  Route Value w/Id parameter *@
            <h2><a href="@Url.Action("Detail", "Home", new { id = list.Id } )">@list.Name</a></h2>

            <!-- ALTERNATIVE WAYS TO CREATE LINKS -->
            @*<h2><a href="detail/@list.Id">@list.Name</a></h2> -- breaks when the user isn't at home/index *@
            @*<h2>@Html.ActionLink(list.Name, "Detail", "Home", new { id = list.Id }, null)</h2>
                <h2><a href="~/home/detail/@list.Id">@list.Name</a></h2>*@
            <ol class="cards">
                @foreach (var card in list.Cards)
                {
                    <li class="card">@card.Title</li>
                }
            </ol>
        </div>
    }



</main>
